.card-layout {
  background-color: #2d2d2d;
  padding: 1.5rem;
  border-radius: 0.63rem;
  margin: 0.5rem;
  color: #CCCCCC;
  max-height: 40rem;
  // overflow: hidden;
  // overflow-y: scroll;
  // font-size: 1.3rem;
  // &::-webkit-scrollbar { width: 0 !important }
}